<h1 style="text-align:center; ">Record deleted successfully</h1>
<script type="text/javascript">
  
    setTimeout(function(){ 
                 window.location='http://localhost:3000';
                 }, 100);
</script>