<div class="container">
  <h2>Crud Operations </h2>
  <a href="{{url}}/add" class="btn btn-sm btn-success ml-4"> Create </a>
  <table class="table table-bordered mt-4">
    <thead>
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      {{{result}}}
    </tbody>
  </table>
   

</div>

