


<div class="container">
  <h2>Bordered Table</h2>

 
  <form action="http://localhost:3000/add" class="pb-3" method="get"><button type="submit" class="btn btn-sm btn-success">Add Data </button></form>
  

  <table class="table table-bordered">
    <thead>

      <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
{{{result}}}

    </tbody>
  </table>
</div>

