<h1 style="text-align:center; ">Record Updated successfully</h1>
<script type="text/javascript">
  
    setTimeout(function(){ 
                 window.location='http://localhost:3000';
                 }, 3000);
</script>